{% extends "base.html" %}

{% set active_page = 'view_results' %}
{% block title %}Display Web App - 实时监控{% endblock title %}

{% block head %}
    {{ super() }}
    <!-- 蓝鲸提供的公用样式库，包括公用的元素样式和组件样式，像基本按钮、表格、表单、导航 -->
    <link href="https://o.qcloud.com/static_api/v3/bk/css/bk.css?v=1.0.1" rel="stylesheet">
{% endblock head %}

{% block page_header %}
    <h1>实时监控</h1>
{% endblock page_header %}

{% block page_content %}
    <div class="row charts">
        <div class="col-lg-12">
            <div class="king-block king-block-bordered mb20">
                <div class="king-block-header">
                    <div class="king-block-title">
                        现场气体浓度变化曲线
                    </div>
                </div>
                <div class="king-block-content">
                    <div id="initialGas-chart" class="chart k-chart" data-role="chart" style="position: relative;">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
    <script>
    $(document).ready(function () {
        data=[]
        // 1. 基于准备好的dom，初始化echarts实例
        var initialGas = echarts.init($('#initialGas-chart')[0]);
        // 2. 指定图表的配置项和数据
        var initialGasOption = {
            title: {
                text: '现场气体浓度的变化曲线'
                },
            tooltip:{},
            xAxis: {
                    type: 'category',
                    {% for x in initialGass %}
                        {
                            data:[].append(x.timestamp)
                        }
                    {% endfor %}
                },
            yAxis: {
                    type: 'value'
                },
            series: [
                {% for x in initialGass %}
                    {
                        data:[].append(x.gas_data)
                    }
                {% endfor %}
            ],
        };
        // 3. 使用指定的配置项和数据显示图表
        initialGas.setOption(initialGasOption)
    </script>
{% endblock scripts %}
